<div class="card">
  <div class="card-body repository-card d-flex flex-column">
    <h5 class="card-title">{{ repository.name }}</h5>
    <p *ngIf="repository.description">{{ repository.description }}</p>
    <ul class="list-group list-group-horizontal mx-auto mt-auto">
      <li class="list-group-item d-flex flex-column align-items-center">
        <span class="oi oi-bug text-danger" title="issues" aria-hidden="true"></span>
        {{ repository.open_issues }}
      </li>
      <li class="list-group-item d-flex flex-column align-items-center">
        <span class="oi oi-fork text-success" title="forks" aria-hidden="true"></span>
        {{ repository.forks_count }}
      </li>
      <li class="list-group-item d-flex flex-column align-items-center">
        <span class="oi oi-star text-primary" title="stars" aria-hidden="true"></span>
        {{ repository.stargazers_count }}
      </li>
    </ul>
    <a [href]="repository.html_url" class="btn btn-outline-primary btn-block">See in Github</a>
  </div>
</div>
