<div class="card">
  <div class="card-body repository-card">
    <h5 class="card-title">{{ repository.name }}</h5>
    <p *ngIf="repository.description">{{ repository.description }}</p>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
        <span class="oi oi-bug" title="issues" aria-hidden="true"></span>
        {{ repository.open_issues }}
      </li>
      <li class="list-group-item">
        <span class="oi oi-fork" title="forks" aria-hidden="true"></span>
        {{ repository.forks_count }}
      </li>
      <li class="list-group-item">
        <span class="oi oi-star" title="stars" aria-hidden="true"></span>
        {{ repository.stargazers_count }}
      </li>
    </ul>
    <a [href]="repository.html_url" class="btn btn-outline-primary btn-block">See in Github</a>
  </div>
</div>
